<template>
  <main class="container">
    <div class="row">
      <v-cart
        class="col"
        v-for="cart in carts"
        :key="cart.title"
        :title="cart.title"
        :image="cart.image"
        :price="cart.price"
      />
    </div>
  </main>
</template>

<script>
import VCart from "@/components/v-cart.vue";
export default {
  data() {
    return {
      carts: {
        first: {
          title: "Короткая шуба из экомеха",
          price: 1999,
          image: "first",
        },
        second: {
          title: "Джемпер толстой вязки",
          price: 999,
          image: "second",
        },
        third: {
          title: "Толстовка из футера",
          price: 999,
          image: "third",
        },
        fourth: {
          title: "Свитер для мальчиков",
          price: 499,
          image: "fourth",
        },
      },
    };
  },
  components: {
    VCart,
  },
};
</script>

<style></style>
