<template>
  <div class="cart">
    <img
      class="cart__img"
      :src="require(`@/assets/img/${image}.jpg`)"
      :alt="{ title }"
    />
    <div class="d-flex justify-content-between">
      <span class="cart__text cart__title">{{ title }}</span>
      <span class="cart__text cart__price">{{ price }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: String,
    title: String,
    price: Number,
  },
};
</script>

<style scoped>
.cart {
  padding: 0;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  background-color: white;
}
.cart:not(:last-child) {
  margin-right: 20px;
}
.cart__img {
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}
.cart__text {
  display: block;
}
.cart__title {
  font-size: 16px;
  line-height: 20px;
  white-space: unset;
  text-overflow: unset;
  color: #999999;
  margin-bottom: 7px;
}
.cart__price {
  font-size: 18px;
  line-height: normal;
  padding: 0 5px 0 0;
}
</style>
