<template>
  <footer class="footer">
    <div class="footer__info container">
      <div class="footer__info__wrapper d-flex flex-column">
        <a
          href="tel:+78007774999"
          class="footer__info__item footer__info__phone col"
          >8 800 777-4-999</a
        >
        <span class="footer__info__item footer__info__time col"
          >7:00 - 22:00 МСК</span
        >
        <span
          href="mailto: support@ostin.com"
          class="footer__info__item footer__info__mail col"
          >support@ostin.com</span
        >
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style scoped>
.footer {
  width: 100%;
  background-color: #111111 !important;
  position: fixed;
  bottom: 0;
}
.footer__info__item {
  display: block;
  text-decoration: none;
}
.footer__info__phone {
  color: white;
  font-size: 16px;
}
.footer__info__time {
  color: #777777;
  font-size: 14px;
}
.footer__info__mail {
  color: white;
  font-size: 16px;
}
</style>
