<template>
  <header class="header d-flex justify-content-center container">
    <div class="row header__menu row">
      <v-logo :widht="130" :height="29" :size="130" class="logo" />
      <div
        v-for="menuItem in menuItems"
        :key="menuItem.title"
        class="header__menu__item col"
      >
        <!-- btw :href="menuItem.link not work" -->
        <a href="#">
          {{ menuItem.title }}
        </a>
      </div>
      <v-search v-if="search" />
      <div
        class="header__btn header__btn__search col"
        @click="search = !search"
      />
      <div class="header__btn header__btn__like col" />
      <div class="header__btn header__btn__basket col" />
    </div>
  </header>
</template>

<script>
import vLogo from "@/components/v-logo.vue";
import vSearch from "@/components/v-search.vue";
export default {
  data() {
    return {
      search: false,
    };
  },
  props: {
    menuItems: Object,
  },
  components: {
    vLogo,
    vSearch,
  },
};
</script>

<style scoped>
.header {
  padding-top: 20px;
  margin-bottom: 100px;
}
.logo {
  margin-right: 80px;
}
.header__menu__item a {
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  color: #111111;
  height: 69px;
}
.header__menu__item {
  margin-right: 30px;
}
.header__btn {
  cursor: pointer;
}
.header__btn:not(:last-child) {
  margin-right: 30px;
}
.header__btn__search {
  width: 23px;
  height: 23px;
  background-size: 23px;
  background: url("@/assets/icons/lupa.svg") bottom center no-repeat;
}
.header__btn__like {
  width: 26px;
  height: 26px;
  background: url("@/assets/icons/like.svg") bottom center no-repeat;
}
.header__btn__basket {
  /* margin: 22px 10px 24px 24px; */
  width: 26px;
  height: 26px;
  background: url("@/assets/icons/basket.svg") bottom center no-repeat;
}
</style>
