<template>
  <input type="text" placeholder="Поиск" class="search__input form-control" />
</template>

<script>
export default {};
</script>

<style scoped>
.search__input {
  padding: 0;
  width: 200px;
  height: 100%;
  margin-right: 10px;
}
</style>
