<template>
  <v-header :menuItems="menuItems" />
  <v-body />
  <v-footer />
</template>

<script>
import vHeader from "@/components/v-header.vue";
import vBody from "@/components/v-body.vue";
import vFooter from "@/components/v-footer.vue";
export default {
  name: "App",
  components: {
    vHeader,
    vBody,
    vFooter,
  },
  data() {
    document.title =
      "Сеть магазинов одежды и аксессуаров O'STIN: модная женская и мужская одежда | Официальный интернет-магазин Остин в России";
    return {
      menuItems: {
        first: {
          title: "женщины",
          link: "test",
        },

        second: {
          title: "мужчины",
          link: "test",
        },
        third: {
          title: "девочки",
          link: "test",
        },
        fourth: {
          title: "мальчики",
          link: "test",
        },
      },
    };
  },
};
</script>

<style></style>
